<div class="login-container">
    <mat-card class="login-card">
        <img src="images/LogoWhite.jpg" alt="Logo" class="login-logo">

        <h1 class="login-title">Recuperar contraseña</h1>

        <mat-form-field appearance="outline" class="login-input">
            <mat-label>Cédula</mat-label>
            <input matInput [(ngModel)]="id_Card" placeholder="Ingrese su cédula">
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-input">
            <mat-label>Pregunta</mat-label>
            <mat-select [(ngModel)]="question_Type">
                <mat-option [value]="1">
                    ¿Cuál es el nombre de tu primera mascota?
                </mat-option>
                <mat-option [value]="2">
                    ¿Cuál es el nombre de tu ciudad natal?
                </mat-option>
                <mat-option [value]="3">
                    ¿Cuál es tu comida favorita?
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-input">
            <mat-label>Respuesta</mat-label>
            <input matInput [(ngModel)]="respuesta" placeholder="Ingrese su respuesta">
        </mat-form-field>

        <mat-form-field appearance="outline" class="login-input">
            <mat-label>Nueva Contraseña</mat-label>
            <input matInput [(ngModel)]="newPassword" placeholder="Ingrese su nueva contraseña"
                (keyup.enter)="recuperar()">
        </mat-form-field>

        <div class="button-section">
            <button mat-raised-button class="custom-button" type="button" (click)="recuperar()">
                Reestablecer Contraseña
            </button>
        </div>

        <div class="button-section">
            <button mat-raised-button class="volver-button" type="button" (click)="volver()">
                Volver
            </button>
        </div>

    </mat-card>
</div>